{% extends "layouts/base.html" %}

{% block title %} Notifications {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/css/app.css">
<style>
    .pcoded-navbar .pcoded-inner-navbar li>a>.pcoded-micon+.pcoded-mtext {
        position: absolute!important;
        top: 11px!important;
    }
</style>
{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row top-row">
                        <div class="col-md-6">
                            <!-- Search form -->
                            <!-- <form>
                                <div class="form-group has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </form> -->
                            <h4 class="title1 text-left pb-0 pt-3">Notifications</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="top-right mt-1">
                                <ul class="mt-1">
                                    <!-- <li class="mr-2">
                                        <span class="bell-btn"><img class="bell-icon" src="/static/assets/images/bell.png" alt=""><span class="notif">5</span></span>
                                        {% if request.user.profile_pic %}
                                        <img class="top-r-img" src="{{request.user.profile_pic.url}}" alt="Profile image">
                                        {% else %}
                                        <img class="top-r-img" src="/static/assets/images/black1.png" alt="Profile image">
                                        {% endif %}
                                    </li> -->
                                    
                                    <li class="">
                                        <span class="intr" >
                                            <div class="intr11">Hi {{ request.user.name }}</div>
                                            <div class="intr11">{{ request.user.email }}</div>
                                        </span>
                                    </li>
                                    <li>
                                        <a class="nav-link1 top-drop" href="#" data-toggle="dropdown" aria-expanded="false">
                                            <i class="feather icon-chevron-down"></i>
                                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown ml-5" aria-labelledby="UserDropdown">
                                                <!-- <div class="dropdown-header text-center">
                                                    {% if request.user.profile_pic %}
                                                    <img class="top-r-img1" src="{{request.user.profile_pic.url}}" alt="Profile image">
                                                    {% else %}
                                                    <img class="top-r-img1" src="/static/assets/images/black1.png" alt="Profile image">
                                                    {% endif %}
                                                    <p class="mb-1 mt-3 font-weight-semibold">
                                                    {{ request.user.user }}
                                                    </p>
                                                    <p class="font-weight-light text-muted mb-0 p-b-e">
                                                    {{ request.user.email }}
                                                    </p>
                                                </div> -->
                                                <a href="{% url 'update_profile' request.user.id %}" class="dropdown-item item1">My Profile<i class="dropdown-item-icon ti-dashboard"></i></a>
                                                <!-- <a href="#" class="dropdown-item item1">Messages <span class="badge badge-pill badge-danger">2</span><i class="dropdown-item-icon ti-comment-alt"></i></a> -->
                                                <a href="{% url 'logout' %}" class="dropdown-item item1">Sign Out<i class="dropdown-item-icon ti-power-off"></i></a>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-top">
                    <div class="row" id="app-page">
                        <div class="col-6">
                            <!-- <h4 class="title1">All Notifications</h4> -->
                            <p class="breadcrumb-b"><a href="/">Home <a href=""> <i class="feather icon-chevron-right"></i></a> Notifications</p>
                        </div>
                        <div class="col-6">
                            {% if request.user.push_notifications > 0 %}
                            <a href="/createNotificationDashboard/"><input class="btn-c-a"  type="submit" value="Add New"/></a>
                            {% else %}
                            <span class="" style="color: rgb(236 19 41 / 67%);font-size: 16px;float: right;">Update your plan to add more Notifications.<input class="btn-c-abtn ml-1"  type="submit" value="Add New"/></span>
                            {% endif %}
                        </div>
                        <div class="col-md-12">
                            <div class="card card-l-a">
                                <div class="table-responsive">
                                    <table id="my-table" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <!-- <th></th> -->
                                                <th class="text-center">ID</th>
                                                <th class="text-left">APP NAME</th>
                                                <th class="text-left">TITLE</th>
                                                <th >DESCRIPTION</th>
                                                <th>DATE</th>
                                                <th class="text-center">SENT TO</th>
                                                <th class="text-center">ACTIONS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if request.user.is_superuser %}
                                            {% for notification in a_notifications %}
                                            <tr>
                                                <!-- <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="{{notification.id}}">
                                                        <label class="custom-control-label" for="{{notification.id}}"></label>
                                                    </div>
                                                </td> -->
                                                <td class="pb-t text-center">{{notification.id}}</td>
                                                <td class="text-left pb-t">{{notification.app_id.name|capfirst}}</td>
                                                <td class="text-left pb-t">{{notification.title|capfirst}}</td>
                                                <td class="pb-t-c">{{notification.description|capfirst}}</td>
                                                <td class="pb-t-c">{{notification.created_at}}</td>
                                                <td class="pb-t-c text-center">{{notification.notification_count}}</td>
                                                <td class="text-center pb-t">
                                                    <span class="action-i">
                                                        <a href="{% url 'singleNotification' notification.id %}"><i class="feather icon-eye"></i></a>
                                                        <!-- <a href=""><i class="feather icon-edit"></i></a> -->
                                                        <a href="{% url 'deleteNotification' notification.id %}"><i class="feather icon-trash-2"></i></a>
                                                    </span>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            {% for notification in cUser_noti_list %}
                                            <tr>
                                                <!-- <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="{{notification.id}}">
                                                        <label class="custom-control-label" for="{{notification.id}}"></label>
                                                    </div>
                                                </td> -->
                                                <td class="pb-t text-center">{{notification.id}}</td>
                                                <td class="text-left pb-t">{{notification.app_id.name|capfirst}}</td>
                                                <td class="text-left pb-t">{{notification.title|capfirst}}</td>
                                                <td class="pb-t-c">{{notification.description|capfirst}}</td>
                                                <td class="pb-t-c">{{notification.created_at}}</td>
                                                <td class="pb-t-c text-center">{{notification.notification_count}}</td>
                                                <td class="text-center pb-t">
                                                    <span class="action-i">
                                                        <a href="{% url 'singleNotification' notification.id %}"><i class="feather icon-eye"></i></a>
                                                        <!-- <a href=""><i class="feather icon-edit"></i></a> -->
                                                        <a href="{% url 'deleteNotification' notification.id %}"><i class="feather icon-trash-2"></i></a>
                                                    </span>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- {% if request.user.is_superuser %} -->
                        <!-- <div class="col-md-12 mt-3">
                            <div class="card card-l-a">
                                {% for notification in a_notifications %}
                                <div class="card mt-1 mb-0">
                                    <div class="row">
                                        <div class="col-md-3 n-b-r">
                                            <div class="p-2 pl-3">
                                                <span>From</span>
                                                <h5 >{{notification.app_id.name|capfirst}}</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-7 n-b-r">
                                            <div class="p-1 pt-3">
                                                <h6 >{{notification.title|capfirst}}</h6>
                                                <p>{{notification.description|capfirst}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="p-2 pr-3 pt-3 mb-0 text-right">{{notification.created_at}}</p>
                                            <p class="pr-3 pt-0 text-right">Sent To: {{notification.notification_count}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div> -->
                        <!-- {% else %} -->
                        <!-- <div class="col-md-12 mt-3">
                            <div class="card card-l-a">
                                {% for notification in notifications %}
                                <div class="card mt-1 mb-0">
                                    <div class="row">
                                        <div class="col-md-3 n-b-r">
                                            <div class="p-2 pl-3">
                                                <span>From</span>
                                                <h5 >{{notification.app_id.name|capfirst}}</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-7 n-b-r">
                                            <div class="p-1 pt-3">
                                                <h6 >{{notification.title|capfirst}}</h6>
                                                <p>{{notification.description|capfirst}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="p-2 pr-3 pt-3 mb-0 text-right">{{notification.created_at}}</p>
                                            <p class="pr-3 pt-0 text-right">Sent To: {{notification.notification_count}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div> -->
                        <!-- {% endif %}            -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function() {
        $('#my-table').DataTable();
            responsive: true
    } );
</script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
{% endblock javascripts %}
