{% extends "layouts/base.html" %}

{% block title %} Apps {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/css/app.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap" rel="stylesheet">

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"> -->
<script src="https://js.stripe.com/v3/"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="/static/assets/js/main.js"></script>
<style>
    .pcoded-navbar .pcoded-inner-navbar li>a>.pcoded-micon+.pcoded-mtext {
        position: absolute!important;
        top: 11px!important;
    }
    .form-control{
        padding: 0.675rem 0.75rem!important;
    }
    .btn-default {
        background-color: #489b71!important;
        color: #fff!important;
        font-weight: 500;
        padding: 7px 40px;
        border-radius: 0;
        width: 100%;
    }
    .btn-default:hover {
        box-shadow: 3px 3px 7px #aaa!important;
        background-color: #489b71!important;
    }
    label{
        margin-bottom: 0px;
    }
</style>
{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row top-row">
                        <div class="col-md-6">
                            <!-- Search form -->
                            <!-- <form>
                                <div class="form-group has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </form> -->
                        </div>
                        <div class="col-md-6">
                            <div class="top-right mt-1">
                                <ul>
                                    <!-- <li class="mr-2">
                                        <span class="bell-btn"><img class="bell-icon" src="/static/assets/images/bell.png" alt=""><span class="notif">5</span></span>
                                        {% if request.user.profile_pic %}
                                        <img class="top-r-img" src="{{request.user.profile_pic.url}}" alt="Profile image">
                                        {% else %}
                                        <img class="top-r-img" src="/static/assets/images/black1.png" alt="Profile image">
                                        {% endif %}
                                    </li> -->
                                    
                                    <li class="">
                                        <span class="intr" >
                                            <div class="intr11">Hi {{ request.user.name }}</div>
                                            <div class="intr11">{{ request.user.email }}</div>
                                        </span>
                                    </li>
                                    <li>
                                        <a class="nav-link1 top-drop" href="#" data-toggle="dropdown" aria-expanded="false">
                                            <i class="feather icon-chevron-down"></i>
                                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown ml-5" aria-labelledby="UserDropdown">
                                                <!-- <div class="dropdown-header text-center">
                                                    {% if request.user.profile_pic %}
                                                    <img class="top-r-img1" src="{{request.user.profile_pic.url}}" alt="Profile image">
                                                    {% else %}
                                                    <img class="top-r-img1" src="/static/assets/images/black1.png" alt="Profile image">
                                                    {% endif %}
                                                    <p class="mb-1 mt-3 font-weight-semibold">
                                                    {{ request.user.user }}
                                                    </p>
                                                    <p class="font-weight-light text-muted mb-0 p-b-e">
                                                    {{ request.user.email }}
                                                    </p>
                                                </div> -->
                                                <a href="{% url 'update_profile' request.user.id %}" class="dropdown-item item1">My Profile<i class="dropdown-item-icon ti-dashboard"></i></a>
                                                <!-- <a href="#" class="dropdown-item item1">Messages <span class="badge badge-pill badge-danger">2</span><i class="dropdown-item-icon ti-comment-alt"></i></a> -->
                                                <a href="{% url 'logout' %}" class="dropdown-item item1">Sign Out<i class="dropdown-item-icon ti-power-off"></i></a>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-top">
                    <div class="row" id="app-page">
                        <div class="col-6">
                            <h4 class="title1">Payment Details</h4>
                        </div>
                        <!-- {% url 'createPlan' %} -->
                        <div class="col-md-12 mt-3">
                            <div class="card card-l-a">
                                <!-- <section class="section">
                                    <div class="container">
                                      <button class="button is-primary" id="submitBtn">Purchase!</button>
                                    </div>
                                </section> -->
                                <!-- <form action="{% url 'updatePlan' planName %}" method="post" id="payment-form" role="form">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12">
                                            <div id="card-errors" role="alert" class=" alert alert-info pl-2"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="card-number">Card Number</label>
                                                <div id="card-number"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Email</label>
                                                <input type="email" name="customer" class="form-control" value="{{request.user.email}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="card-exp">Expiration Date</label>
                                                <div id="card-exp"></div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="card-cvc">CVC Code</label>
                                                <div id="card-cvc"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6">
                                            <div class="form-group text-center pt-3">
                                                <button type="submit" class="btn btn-default" id="btn-payment">Proceed with payment</button>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </form> -->
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('pk_test_jXFwvxnsfReUaJPu0VieogNn000MXaFPgU');
    var elements = stripe.elements();
    var style = {
        base: {
            // Add your base input styles here. For example:
            fontSize: '16px',
            color: '#32325d',
        },
    };

    // Create an instance of the card Element.
    var card = elements.create('cardNumber', {
        classes: {
            base: "form-control",
            focus: "green",
            invalid: "error",
        }
    });
    var exp = elements.create('cardExpiry', {
        classes: {
            base: "form-control",
            focus: "green",
            invalid: "error",
        }
    });
    var cvc = elements.create('cardCvc', {
        classes: {
            base: "form-control",
            focus: "green",
            invalid: "error",
        }
    });

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-number');
    exp.mount('#card-exp');
    cvc.mount('#card-cvc');
    var form = document.getElementById('payment-form');
    console.log(form);
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            console.log(result,result.error,result.token);
            if (result.error) {
                // Inform the customer that there was an error.
                document.getElementById('card-errors').style.display = "block";
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                stripeTokenHandler(result.token);
                // console.log(result.token,"nnnn");
            }
        });

    });

    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
        // return false
    }
</script>
<script>
    $(document).ready(function() {
        var cardnumber;
        $("#card-number").keyup(function(event) {
            var cardnumber = $(this).val();
            if (cardnumber != '') {
                return cardnumber;
            }
        });
        var cvc;
        $("#card-cvc").keyup(function(event) {
            var cvc = $(this).val();
            if (cvc != '') {
                return cvc;
            }
        });
    });
</script>
<!-- <script>
    $('#btn-payment').click(function(){
      var url_list = {{plan_list|safe}};
      var list = url_list;
    //   console.log(url_list);
      $.ajax({
          url: '{% url "createPlan" %}',
          data: {'list[]': list},
          dataType: 'json',
      });
      return false;
    });
  </script> -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
{% endblock javascripts %}
