{% extends "layouts/base.html" %}

{% block title %} Connected User {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<!-- <link rel="stylesheet" href="/static/assets/css/app.css"> -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap" rel="stylesheet">
<style>
    .pcoded-navbar .pcoded-inner-navbar li>a>.pcoded-micon+.pcoded-mtext {
        position: absolute!important;
        top: 11px!important;
    }
    .form-control.invoice-in {
        padding: 5px 8px!important;
    }
    .invoice-la {
        margin-bottom: .1rem!important;
        font-size: small;
    }
</style>
{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row top-row">
                        <div class="col-md-6">
                            <!-- Search form -->
                            <!-- <form>
                                <div class="form-group has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </form> -->
                        </div>
                        <div class="col-md-6">
                            <div class="top-right mt-1">
                                <ul>
                                    <li class="mr-2">
                                        <!-- <span class="bell-btn"><img class="bell-icon" src="/static/assets/images/bell.png" alt=""><span class="notif">5</span></span> -->
                                        {% if request.user.profile_pic %}
                                        <img class="top-r-img" src="{{request.user.profile_pic.url}}" alt="Profile image">
                                        {% else %}
                                        <img class="top-r-img" src="/static/assets/images/black1.png" alt="Profile image">
                                        {% endif %}
                                    </li>
                                    
                                    <li class="">
                                        <span class="intr" >
                                            <div class="intr11">Hi {{ request.user.name }}</div>
                                            <div class="intr11">{{ request.user.email }}</div>
                                        </span>
                                    </li>
                                    <li>
                                        <a class="nav-link1 top-drop" href="#" data-toggle="dropdown" aria-expanded="false">
                                            <i class="feather icon-chevron-down"></i>
                                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown ml-5" aria-labelledby="UserDropdown">
                                                <!-- <div class="dropdown-header text-center">
                                                    {% if request.user.profile_pic %}
                                                    <img class="top-r-img1" src="{{request.user.profile_pic.url}}" alt="Profile image">
                                                    {% else %}
                                                    <img class="top-r-img1" src="/static/assets/images/black1.png" alt="Profile image">
                                                    {% endif %}
                                                    <p class="mb-1 mt-3 font-weight-semibold">
                                                    {{ request.user.user }}
                                                    </p>
                                                    <p class="font-weight-light text-muted mb-0 p-b-e">
                                                    {{ request.user.email }}
                                                    </p>
                                                </div> -->
                                                <a href="{% url 'update_profile' request.user.id %}" class="dropdown-item item1">My Profile<i class="dropdown-item-icon ti-dashboard"></i></a>
                                                <!-- <a href="#" class="dropdown-item item1">Messages <span class="badge badge-pill badge-danger">2</span><i class="dropdown-item-icon ti-comment-alt"></i></a> -->
                                                <a href="{% url 'logout' %}" class="dropdown-item item1">Sign Out<i class="dropdown-item-icon ti-power-off"></i></a>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-top">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="title1">View Invoice </h4>
                            <p class="breadcrumb-b"><a href="/">Home <i class="feather icon-chevron-right"></i></a> <a href="../../invoice.html">Invoices <i class="feather icon-chevron-right"></i></a> View Invoice</p>
                            <div class="row pt-1 pl-1">
                                <div class="col-md-12">
                                    <div class="card card-l-a p-3">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="" class="invoice-la">INVOICE ID</label>
                                                <input type="text" class="form-control invoice-in" value="{{invoice_obj.id}}" readonly>
                                            </div>
                                            <div class="col-md-4 pt-1">
                                                <label for="" class="invoice-la">CHARGE ID</label>
                                                <input type="text" class="form-control invoice-in" value="{{invoice_obj.charge}}" readonly>
                                            </div>
                                            <div class="col-md-4 pt-1">
                                                <label for="" class="invoice-la">CUSTOMER ID</label>
                                                <input type="text" class="form-control invoice-in" value="{{invoice_obj.customer}}" readonly>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col-md-4 pt-1">
                                                <label for="" class="invoice-la">CUSTOMER EMAIL</label>
                                                <input type="text" class="form-control invoice-in" value="{{invoice_obj.customer_email}}" readonly>
                                            </div>
                                            <div class="col-md-4 pt-1">
                                                <label for="" class="invoice-la">AMOUNT</label>
                                                <input type="text" class="form-control invoice-in" value="${% widthratio invoice_obj.amount_paid 100 1 %}" readonly>
                                            </div>
                                            <div class="col-md-4 pt-1">
                                                <label for="" class="invoice-la">CURRENCY</label>
                                                <input type="text" class="form-control invoice-in" value="{{invoice_obj.currency}}" readonly>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            {% for ob in invoice_obj.lines.data %}
                                            <div class="col-md-4 pt-1">
                                                <label for="" class="invoice-la">PAYMENT METHOD</label>
                                                <input type="text" class="form-control invoice-in" value="{{ob.metadata.payment_method}}" readonly>
                                            </div>
                                            <div class="col-md-4 pt-1">
                                                <label for="" class="invoice-la">PLAN NAME</label>
                                                <input type="text" class="form-control invoice-in" value="{{ob.metadata.planName}}" readonly>
                                            </div>
                                            {% endfor %}
                                            <div class="col-md-4 pt-1">
                                                <label for="" class="invoice-la">STATUS</label>
                                                <input type="text" class="form-control invoice-in" style="color: rgb(7, 190, 7);" value="{{invoice_obj.status}}" readonly>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col-md-4 pt-1">
                                                <label for="" class="invoice-la">DATE</label>
                                                <input type="text" class="form-control invoice-in" value="{{invoice_datetime}}" readonly>
                                            </div>
                                            <div class="col-md-4 pt-1">
                                                <label for="" class="invoice-la">DOWNLOAD</label>
                                                <a href="{{invoice_obj.invoice_pdf}}"><input type="text" class="form-control invoice-in" style="color: rgb(31, 31, 230);" value="Download Invoice" readonly></a>
                                            </div>
                                            <div class="col-md-4 pt-1">
                                                <label for="" class="invoice-la">HOSTED INVOICE URL</label>
                                                <a href="{{invoice_obj.hosted_invoice_url}}"><input type="text" class="form-control invoice-in" style="color:  rgb(31, 31, 230);" value="Hosted Url" readonly></a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="card right-c">
                                <div class="card card-i">
                                    <h4 class="pt-1">Plan Usage</h4>
                                    <div id="donut_chart" style="height:200px"></div>
                                    <p class="card-p">You have used 62% of your actual plan</p>
                                </div>
                                <div class="right-c-d">
                                    <h6>Limits</h6>
                                    <p >You have no limit on your account. New plan package will renew automatically. You have 3000 notification left <a href="#">Buy More</a></p>
                                    <h6 class="pt-1">Total users connected</h6>
                                    <h3 class="pt-1">415</h3>
                                    <p class="pt-1"> You've 15 users connected tou your app. How to <a href="#">Convince users</a> to install our app</p>
                                </div>
                            </div>
                        </div>                  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script>
        (function () {
            var $, MyMorris;

            MyMorris = window.MyMorris = {};
            $ = jQuery;

            MyMorris = Object.create(Morris);

            MyMorris.Donut.prototype.select = function (idx) {
                var row, s, segment, _i, _len, _ref, _fill_color; // ADDED _fill_color
                _ref = this.segments;
                for (_i = 0, _len = _ref.length; _i < _len; _i++) {
                    s = _ref[_i];
                    s.deselect();
                }
                segment = this.segments[idx];
                segment.select();
                row = this.data[idx];
                _fill_color = row.labelColor || this.options.labelColor || '#000000'; // ADDED
                return this.setLabels(row.label, this.options.formatter(row.value, row), _fill_color); // ADDED parameter _fill_color
            };


            MyMorris.Donut.prototype.setLabels = function (label1, label2, fill_color) {
                var inner, maxHeightBottom, maxHeightTop, maxWidth, text1bbox, text1scale, text2bbox, text2scale;
                _default_fill = fill_color || '#000000'; // ADDED
                inner = (Math.min(this.el.width() / 2, this.el.height() / 2) - 10) * 2 / 3;
                maxWidth = 1.8 * inner;
                maxHeightTop = inner / 2;
                maxHeightBottom = inner / 3;
                this.text1.attr({
                    text: label1,
                    transform: '',
                    fill: fill_color // ADDED
                });
                text1bbox = this.text1.getBBox();
                text1scale = Math.min(maxWidth / text1bbox.width, maxHeightTop / text1bbox.height);
                this.text1.attr({
                    transform: "S" + text1scale + "," + text1scale + "," + (text1bbox.x + text1bbox.width / 2) + "," + (text1bbox.y + text1bbox.height)
                });
                this.text2.attr({
                    text: label2,
                    transform: '',
                    fill: fill_color // ADDED
                });
                text2bbox = this.text2.getBBox();
                text2scale = Math.min(maxWidth / text2bbox.width, maxHeightBottom / text2bbox.height);
                return this.text2.attr({
                    transform: "S" + text2scale + "," + text2scale + "," + (text2bbox.x + text2bbox.width / 2) + "," + text2bbox.y
                });
            };
        }).call(this);

        getMorris('donut', 'donut_chart');

        function getMorris(type, element) {
            if (type === 'donut') {
                var morris = Morris.Donut({
                    element: element,
                    data: [
                        {
                            label: 'Notifao',
                            value: 75,
                            labelColor: '#4c9f75'
                        }, {
                        label: 'Unused',
                            value: 25,
                            labelColor: '#4c9f75'
                        }, 
                    ],
                    labelColor: "#4c9f75",
                    colors: ['#4c9f75', '#cfd3d4']
                });
            }
        }
    </script>
    
{% endblock javascripts %}
